description = "Hoofdmenu"

[viewBag]

[staticMenu]
code = "hoofdmenu"
==
<nav class="navbar-expand-md navbar-dark">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#hoofdmenu" aria-controls="#hoofdmenu" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="hoofdmenu">
    <ul class="navbar-nav flex-column">
      {% partial "menu-items" items=staticMenu.menuItems %}
    </ul>
  </div>
</nav>