description = "Standaard scripts"

[viewBag]
==
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="{{ 'assets/vendor/bootstrap-4.3.1/js/bootstrap.min.js'|theme }}"></script>
<script src="{{ 'assets/javascript/app.js'|theme }}"></script>
<script src="https://kit.fontawesome.com/18f3c193b0.js" crossorigin="anonymous"></script>
{% framework extras %}
{% scripts %}